.top-down-selectors-child10,
.top-down-selectors-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--compensar);
  width: 430px;
  height: 60px;
}
.top-down-selectors-child11 {
  top: 859px;
  background-color: var(--color-gainsboro);
  height: 73px;
}
.top-down-selectors6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 932px;
}
.mask-group-icon2 {
  position: absolute;
  top: 152px;
  left: 21px;
  width: 388px;
  height: 267px;
  object-fit: cover;
}
.component-5-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--compensar);
}
.las-tarifas-varan2 {
  position: absolute;
  height: 79.17%;
  width: 88.68%;
  top: 10.42%;
  left: 5.53%;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.component-52 {
  position: absolute;
  top: 483px;
  left: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 380px;
  height: 70px;
  font-size: var(--font-size-3xs);
}
.eres-amante-del {
  margin: 0;
}
.ritmo-de-rock {
  margin-bottom: 0;
}
.ritmo-de-rock-bsico-negras-y {
  margin: 0;
  padding-left: 19px;
}
.eres-amante-del-container1 {
  line-break: anywhere;
  width: 100%;
}
.eres-amante-del-container {
  position: absolute;
  height: 87.55%;
  width: 88.68%;
  top: 4.4%;
  left: 5.53%;
  display: flex;
  align-items: center;
}
.component-83 {
  position: absolute;
  top: 576px;
  left: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 380px;
  height: 273px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.clase-personalizada-de1 {
  position: absolute;
  width: 88.39%;
  top: 31.91%;
  left: 5.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-62 {
  position: absolute;
  top: 90px;
  left: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 379px;
  height: 47px;
  text-align: center;
}
.image-6-icon6,
.svgrepo-iconcarrier6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgrepo-iconcarrier6 {
  height: 52.45%;
  width: 6.82%;
  top: 22.62%;
  right: -0.34%;
  bottom: 24.93%;
  left: 93.52%;
  cursor: pointer;
}
.image-6-icon6 {
  height: 100%;
  width: 37.04%;
  top: 0;
  right: 62.96%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.component-94 {
  position: absolute;
  top: 3px;
  left: 15px;
  width: 391.5px;
  height: 56px;
}
.component-7-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--compensar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.a3,
.component-73 {
  position: absolute;
  top: 25.71%;
  left: 41.43%;
}
.component-73 {
  height: 3.76%;
  width: 16.28%;
  top: 46.14%;
  right: 77.67%;
  bottom: 50.11%;
  left: 6.05%;
}
.component-84,
.component-95 {
  position: absolute;
  top: 430px;
  left: 118px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 35px;
}
.component-95 {
  left: 210px;
}
.no-afiliado3 {
  position: absolute;
  height: 51.43%;
  width: 75%;
  top: 22.86%;
  left: 12%;
  display: flex;
  align-items: center;
}
.component-103 {
  position: absolute;
  top: 430px;
  left: 302px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 35px;
}
.image-6-icon7 {
  position: absolute;
  top: 3px;
  left: 15px;
  width: 145px;
  height: 56px;
  object-fit: cover;
}
.svgrepo-iconcarrier7 {
  position: absolute;
  height: 3.15%;
  width: 6.21%;
  top: 1.68%;
  right: 5.15%;
  bottom: 95.17%;
  left: 88.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon12,
.frame-icon13 {
  position: absolute;
  top: 863px;
  left: 9px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.frame-icon13 {
  top: 859px;
  left: 83px;
}
.frame-icon14,
.frame-icon15,
.x32-icon3 {
  position: absolute;
  top: 862px;
  left: 261px;
  width: 63px;
  height: 63px;
  overflow: hidden;
}
.frame-icon14,
.frame-icon15 {
  top: 859px;
  left: 351px;
  width: 64px;
  height: 64px;
}
.frame-icon15 {
  left: 170px;
}
.compensar-app-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
