.top-down-selectors-child2,
.top-down-selectors-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--compensar);
  width: 430px;
  height: 60px;
}
.top-down-selectors-child3 {
  top: 859px;
  background-color: var(--color-gainsboro);
  height: 73px;
}
.mask-group-icon,
.top-down-selectors2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 932px;
}
.mask-group-icon {
  top: 152px;
  left: 21px;
  width: 388px;
  height: 267px;
  object-fit: cover;
}
.component-5-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--compensar);
}
.las-tarifas-varan {
  position: absolute;
  height: 79.17%;
  width: 88.68%;
  top: 10.42%;
  left: 5.53%;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.compensar-app-5-child,
.component-5 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-5 {
  top: 483px;
  left: 25px;
  width: 380px;
  height: 70px;
  font-size: var(--font-size-3xs);
}
.compensar-app-5-child {
  height: 29.29%;
  width: 88.37%;
  top: 60.84%;
  right: 6.74%;
  bottom: 9.87%;
  left: 4.88%;
  border-radius: var(--br-mini);
  background-color: var(--compensar);
}
.con-el-plan {
  margin: 0;
}
.con-el-plan-container1 {
  line-break: anywhere;
  width: 100%;
}
.clase-personalizada-de,
.con-el-plan-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.con-el-plan-container {
  height: 25.64%;
  width: 78.37%;
  top: 63.09%;
  left: 10.7%;
  font-size: 13px;
}
.clase-personalizada-de {
  width: 88.39%;
  top: 31.91%;
  left: 5.8%;
  justify-content: center;
}
.component-6 {
  position: absolute;
  top: 90px;
  left: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 379px;
  height: 47px;
  text-align: center;
}
.svgrepo-iconcarrier2 {
  position: absolute;
  height: 3.15%;
  width: 6.21%;
  top: 1.68%;
  right: 5.15%;
  bottom: 95.17%;
  left: 88.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.image-6-icon2 {
  position: absolute;
  top: 3px;
  left: 15px;
  width: 145px;
  height: 56px;
  object-fit: cover;
}
.a1 {
  position: absolute;
  top: 25.71%;
  left: 41.43%;
}
.component-71,
.component-81,
.component-92 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-71 {
  height: 3.76%;
  width: 16.28%;
  top: 46.14%;
  right: 77.67%;
  bottom: 50.11%;
  left: 6.05%;
}
.component-81,
.component-92 {
  top: 430px;
  left: 118px;
  width: 70px;
  height: 35px;
}
.component-92 {
  left: 210px;
}
.no-afiliado1 {
  position: absolute;
  height: 51.43%;
  width: 75%;
  top: 22.86%;
  left: 12%;
  display: flex;
  align-items: center;
}
.component-101 {
  position: absolute;
  top: 430px;
  left: 302px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 35px;
}
.svgrepo-iconcarrier3 {
  position: absolute;
  height: 3.15%;
  width: 6.21%;
  top: 1.68%;
  right: 5.15%;
  bottom: 95.17%;
  left: 88.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon4,
.frame-icon5 {
  position: absolute;
  top: 863px;
  left: 9px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.frame-icon5 {
  top: 859px;
  left: 83px;
}
.frame-icon6,
.frame-icon7,
.x32-icon1 {
  position: absolute;
  top: 862px;
  left: 261px;
  width: 63px;
  height: 63px;
  overflow: hidden;
}
.frame-icon6,
.frame-icon7 {
  top: 859px;
  left: 351px;
  width: 64px;
  height: 64px;
}
.frame-icon7 {
  left: 170px;
}
.compensar-app-5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
